button.close {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 10px;
    text-align: left;
    transition: .2s;
    font-size: x-large;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

button.close:hover {
    background-color: red;
    transform: scale(1.1);
}

button.close:active {
    background-color: darkred;
    transform: scale(.95);
}

button.collapse {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 10px;
    text-align: left;
    transition: .2s;
    font-size: x-large;
    font-weight: bold;
}

button.collapse:hover {
    background-color: greenyellow;
    transform: scale(1.1);
}

button.collapse:active {
    background-color: green;
    transform: scale(.95);
}

main {
    width: 70%;
    background-color: aliceblue;
    box-shadow: 3px 3px 3px salmon;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    padding: 20px;
    border-radius: 15px;
}

button,
input[type=submit],
input[type=reset] {
    transform: skewX(-10deg);
    transition-duration: .2s;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgb(104, 232, 255);
    padding: 2px;
    margin: 2px;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    transform: skewX(-10deg) scale(1.1);
}

button:active,
input[type=submit]:active,
input[type=reset]:active {
    transform: skewX(-10deg) scale(0.95);
}

input[type=reset] {
    background-color: rgb(255, 104, 104);
}

.inline {
    display: inline;
}

.header {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.message-bar-no-conflicting button {
    transform: none;
}