main {
    overflow: auto;
    width: 70%;
    background-color: var(--primary-color-light);
    box-shadow: 3px 3px 3px salmon;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    padding: 20px;
    border-radius: 15px;
}

main * {
    color: var(--text-color);
}

main button {
    color: initial;
}

input,
textarea,
select {
    background-color: var(--primary-color-light);
}

button,
input[type=submit],
input[type=reset] {
    color: initial;
    transform: skewX(-10deg);
    transition-duration: .2s;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgb(104, 232, 255);
    padding: 2px;
    margin: 2px;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    transform: skewX(-10deg) scale(1.1);
}

button:active,
input[type=submit]:active,
input[type=reset]:active {
    transform: skewX(-10deg) scale(0.95);
}

input[type=reset] {
    background-color: rgb(255, 104, 104);
}

.inline {
    display: inline;
}

.header {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}