@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
body {
    background-color: rgb(139, 195, 255);
    scroll-behavior: smooth;
}

#main{
    margin-top: 8.5%;
}

#title{
    display: grid;
    place-items: center;
    font-size: 7em;
}

.st{
    font-size: 3em;
}

#rooms {
    text-align: center;
    margin: auto;
    margin-top: 50vh;
    padding: 20px 20px 20px 20px;
    background-color: var(--second-body-color);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#remain {
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    width: 150px;
    background-color: rgb(186, 255, 181);
    height: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: auto;
    -o-border-radius: 5px;
    vertical-align: top;
}

#total {
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    width: 150px;
    background-color: rgb(186, 255, 181);
    /* background-color: rgb(255, 222, 181);
    background-color: rgb(255, 181, 181); */
    height: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: auto;
    -o-border-radius: 5px;
    vertical-align: top;
}

.buttons{
    display: grid;
    place-items: center;
    width: 300px;
    height: 50px;
    background-color: #e1f1ef;
    font-family: "Roboto", sans-serif, Arial, Helvetica;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .25s ;
    -webkit-transition: .25s ;
    -moz-transition: .25s ;
    -ms-transition: .25s ;
    -o-transition: .25s ;
}

.buttons:hover{
    background-color: #408d86;
}

.buttons:active{
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}
