@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header{
    height: 20%;
    position: absolute;
    margin: 0;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgb(113, 165, 255);
}
header div{
    font-family: "Montserrat",sans-serif;
    top:25%;
    font-size: 3em;
    position: absolute;
    left: 50px;
}