#notSupportedBrowerAlert {
    left: 0px;
    top: 20%;
    width: 100%;
    height: 350px;
    background-color: rgb(156, 26, 26);
    position: absolute;
    display: none;
}

#NSBA-title {
    margin-top: 75px;
    text-align: center;
    font-size: 250%;
}

#NSBA-SupportedBrowsersList {
    text-align: center;
    margin-top: 50px;
}

#NSBA-canel {
    overflow: hidden;
    padding: 10px;
    background-color: rgb(186, 186, 186);
    border: none;
    outline: none;
    cursor: pointer;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}