main {
    margin-top: 8.5%;
}

#title {
    display: grid;
    place-items: center;
    font-size: 7em;
}

.st {
    font-size: 3em;
}

#rooms {
    text-align: center;
    margin: auto;
    color: black;
    margin-top: 100vh;
    padding: 20px 20px 20px 20px;
    background-color: var(--light-bg);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#rooms-title {
    text-align: center;
    display: block;
    font-size: 2em;
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#remain {
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    width: 150px;
    color: black;
    background-color: rgb(186, 255, 181);
    height: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: auto;
    -o-border-radius: 5px;
    vertical-align: top;
}

#total {
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    width: 150px;
    background-color: rgb(186, 255, 181);
    height: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: auto;
    -o-border-radius: 5px;
    vertical-align: top;
}

.buttons {
    width: 300px;
    height: 50px;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}